---
---

@import "minima";

// #region location ===========================================================
.ds-page-content {
    flex: 1;
}
.ds-post-header {
    background-image: linear-gradient(#0006, #0006), var(--bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 3rem;
    margin-bottom: 2rem;
    color: #fff;
    text-shadow: 0 0 .125rem #000, 0 0 .5rem #000a;
    text-align: center;
}

@media (min-width: 768px) {
    .ds-post-header { padding: 3rem 5rem }
}

@media (min-width: 1024px) {
    .ds-post-header { padding: 5rem 8rem }
}


.ds-post-meta {
    margin: 0;
}
// #endregion
// #region dl =================================================================
dl {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: .5rem;
    margin-bottom: 0;
}

dt {
    grid-column: 1;
    font-weight: bold;
    text-align: right;
}
dt::after {
    content: ':';
}

dd {
    grid-column: 2;
}
// #endregion =================================================================